@import "tailwindcss";

@theme {
  --font-body: "Josefin Sans", sans-serif;
  --color-main: #f1ecdb;
  --color-wht: #ffffff;
  --color-blk: #000000;
  --color-btn: #ffffff;
  --color-btn-hvr: #f0f0f0;
  --color-btn1: #d2d0b8;
  --color-btn1-hvr: #f0f0f0;
  --color-checkbox-active: #d2d0b8;
  --color-checkbox-error: #eb4f34;
  --color-active: #03ff1c;
  --color-checkbox-active: #ee03ff;
  --color-gr: #363836;
  --color-menu: #d2d0b8;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #f3f4f6;
}
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
}
.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
